beautifulsoup4
pandas
requests
ipykernel
justext
tqdm
pyvi
regex
icecream
wordcloud
matplotlib
termcolor
seaborn
htmldate
streamlit
plotly
transformers
torch==1.13.1
ipywidgets
altair
streamlit_scrollable_textbox